/*GREEN= #179942
GREY= #535353  */

.grad {
  background: #B48A33; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, white, #B48A33); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, white, #B48A33); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, white, #B48A33); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, white, #B48A33); /* Standard syntax */
}

.revealAnim img {
  transition: transform .6s .9s;
}
.back {
  transform:translate3d(-40%, 0, 0);
}
.front {
  transform:translate3d(61.6%, 0, 0);
}
.side {
  transform:translate3d(-338%, 0, 0);
}
.viewing-page-2 #revealAnim img {
  transform: translate3d(0, 0, 0);
}

body{
  margin:0
  padding: 1em;
  font-family: sans-serif;
  font-weight: 100;
  line-height: 1.5;
  /*background: url(../images/background.jpg);*/
  font-size: 15px;
  margin: 0;
}

h1 {
  margin: 0;
  font-weight: 300;
  font-size: 1.2em;
}

h3{
  font-size: 18px;
  margin: 0
  font-weight: bold;
}

p{
  margin:0;
  margin-bottom: 1em;
}

.mobile-display{
  display: none;
}

.heading{
  font-weight: 600;
  font-size: 2em;
  padding-bottom: 1em;
  text-transform: capitalize;
  font-style: none;
  color: #B48A33;

}
.d-block {
  margin: auto;
}
.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}

.main-container-wrapper{
  max-width: 100%;
}

.header-container {
  background:url(../images/main-photo.jpg)no-repeat fixed;
  background-size: cover;
  height: 100vh;
  background-size: cover;
}

#mainLogo{
  width: 150px;
  margin: 10px;
}

header{
  display: flex;
  justify-content: space-between;
  width:100%;
  background-color: white;

}

nav {
  margin-right: 1em;
  margin-top: 1em;
  display: flex;
  align-items: center;
}

.navbar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul:hover{
  cursor: pointer;
}

header li{
  display: inline;
  padding: 1em;
}

a {
  color: #535353;
  text-decoration: none;

}

a:hover{
  cursor: pointer;
}

nav ul li:hover {
  text-decoration: underline;
  cursor: grab;
}

.mobile {
  display: none;
}

.main-nav-mobile{
  display: none;
}

.about-container{
      display: flex;
      height: 122vh;
      padding: 1em 2em;
      justify-content: space-between;
      align-items: center;
      background: url(../images/ausorange.png) no-repeat fixed 118%;
      background-size: 70%;
}

.about-image{
  height: 100vh;
  width: 50%;
  /*background: url(../images/CosmoCombe.jpeg) no-repeat fixed 100%;*/
  /*background-size: contain;*/
}

.about {
padding-right: 1em;
background: white;
width: 50%;


}

.half {
  width: 50%;
  padding: 2em;

}

.about-container img{
  width: auto;
    height: 800px;
}

.flex-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5em 2em;
  height: 40em;
}

.flex-start{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5em 2em;
  height: 40em;
}

.flex-center{
  display: flex;
  justify-content: center;
  padding: 1em;
}

.pillars{
  padding: 2em;
  width: 45%;
}

.pillars-imagery {
  width: 19%;
}
.pillars-imagery img{
  width: 50px;
  margin: 2em;
}

.grey{
  background-color: rgba(83, 83, 83, 0.38);

}

.grey h1 {
  color: white;
}

.grey p {
  color: white;
}

.brands{


  display: flex;
  height: 100%;
  padding: 0;
  flex-direction: column;
}


#brands{
  width: 40%;
}

#brandsh1{
  height: 1px;
display: block;
padding: 2em;
}
.brands-container{
  display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin: 2em 0;
flex-direction: column;
/*background: white;*/

}
.brands-imagery{
  height: 170px;
}

.brand-list{
  display: flex;
  justify-content: space-between;
}

.carousel{
  margin:auto;
  margin-top: 40px;
    width: 100%!important;
}

.d-block{
  width:100%!important;
}

.brands-text{
  margin-top: 65px;
  padding: 2em;

}

.right {
  text-align: right;
}

.freight {
  background: url(../images/healthmore-truck.jpg) no-repeat fixed 100%;

  display: flex;
    justify-content: flex-end;
    height: 100vh;
    align-items: center;


}

.flex-end{
  display: flex;
  justify-content: flex-end;
  height: 40em;
  align-items: center;
  padding: 1em 2em;
}

.freight-text{
  background: white;
  width: 35%;
  padding: 2em;
}

.distribution img{
  width: 100%;
  padding-right: 1em;
}


.distribution-text{
  width: 50%;
  background: white;
  padding: 2em;
}

.boxesMain{
  background: url(../images/map.png)no-repeat fixed 100%;
  background-size: 100%;
  margin: 2em 0;

}
.grid{
  width: 48%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*background-color: white;*/
}

.box {
  width: 44%;
  padding-right: 1em;
}

#boxes{
  width: 40%;
}

span.bold{
  font-weight: bold;
  text-align: left;
}

.sales-channels .flex-between{
  padding: 0;
  align-items: flex-start;
  height: 20em;
}

.sales-channels li{
  width: 52%;
}

.sales-channels .flex-between div{
  margin-right: 1em;
  width: 30%;
}

.sales-channels .flex-between img{
  height: 100%;
}

#retailers {
  height: 75%;
}

.sales-channels{
  padding: 2em;
}

.hongkong{
      background: url(../images/wechat.jpeg) no-repeat fixed 100%;
      background-size: contain;
      flex-direction: column;
      justify-content: center;
      /* align-items: center; */
      height: 100vh;
      display: flex;

}

.marketing{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}
.videoDiv{
  width: 100%;
  height: 70vh;
  position: relative;
  padding: 2em
  overflow:hidden;
  z-index: -1;

}

video{
  margin-left: 300px;
}


.marketing-text{
   height:100%; position: absolute; top: 0;
   left: 2em;
}
.hongkong p {
  width: 42%;
}

.mobile-nav{
  display: none;
}

#hamburger-button{
  font-size: 30px;
  color: #B48A33;
}


.contact {
  width: 100%
  text-align: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
}

.two{
  display: flex;
  width: 100%;
  align-items: center;
}

button{
  border-radius: 5px;
  color: white;
  border: none;
  background:#B48A33;
  cursor: pointer;
  padding: 20px;
  margin-top: 50px;


}


footer img{
  width: 150px;
  margin: 30px;
}

input{
  border-radius: 5px;
}



footer .navbar-nav{

  font-size: 10px;
}

footer li{
  padding-left:10px;
}

/*MOBILE VIEW***********************/

@media screen and (max-width: 1056px) {

.header-container{

      background-position: 105% 33%;
      height: 400px;
      background-size: 100%;
    }
}
@media screen and (max-width: 768px) {

.distribution img{
  padding-right: 0;
}

.distribution h1{
  text-align:left;
}

.distribution p{
  text-align: left;
}

.navbar{
  padding: .5em 0;
}

.container-fluid{
  margin-right: 0;
}
.navbar-toggle
{
  background: white;
}

.mobile-display{
  display: block;
}

.container-fluid{
  margin-left: 0;
}

.navbar-nav{
  text-align: right;
}

#mainLogo{
  margin-right: 138px;
  width: 152px;
}
  body{
    font-size: 10px;
  }
  .mobile-nav{
    display: inline-block;
    left: 693px;
  }


  nav ul{
    flex-direction: column;
    width: 100%;
    display: none;
  }


  .main-nav {
    display: none;
  }
  .main-nav-mobile{
    display: block;
  }

  .about-container {
  margin-top:0;
  display: block;
  height: 100%;
  padding: 2em;
  background: white;


  }
  .about{
    width: 100%;
    background: none;
  }



  .flex-between {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* align-items: center; */
    padding: 0em 1em;
    height: 30em;
  }

  .half{
    width: 100%;
  }

  .half {
        margin-bottom: 2rem;
  }

  h3{
    font-size: 15px;
    font-weight: bold;
  }

  .flex-center {
    display: flex;
    justify-content: flex-start;
    padding: 0;
  }
    .pillars-imagery {
      width: 20%;
    }

    .pillars-imagery img {
    width: 26px;
    margin: 2em;
  }

  .brands{
    padding: 1em;
    height: 100%;
  }

  .brands-text{
    margin-top: 0;
  }

  .brands-container {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
    justify-content: flex-start;
    flex-wrap: nowrap;

}

.freight {
  background: url(../images/healthmore-truck.jpg) no-repeat fixed 100%;
    background-size: 100%;
}
.freight-text{
  background: rgba(255, 255, 255, 0.96);
    width: 100%;

}

.distribution-text{
  width: 100%;

}

.boxesMain{
  height: 100vh;
}

.section {
  background: rgba(255, 255, 255, 0.79);
  width: 100%;
  padding: 1em;
}

.marketing video{

}

.marketing ul {
    width: 78%;
  }
.sales-channels ul li {
    width: 63%;
}


.freight{
  background: white;
  flex-direction: column;
  height: 100%;
  padding: 0;
}

.hongkong{
  background: white;

}

.hongkong img{
  height: auto;
  width: 100%;
}

.marketing {
  background: white;
  display: block;
}

.marketing img{
  width: 100%;
  height: auto;
}

.sales-channels ul li{
  width: 100%;
}

.marketing ul{
  width: 90%;
}

.boxesMain{
  background: white;
  height: 100%;
}

.distribtion img{
  width: 113%;
height: auto;
margin: 0 24px 10px 0;
padding-right: 0;
}

.hongkong p{
  width: 100%;
}

button{
  margin-top: 0;
  padding: 10px;
}

.two{
  flex-direction: column;
}

.half{
  margin-bottom: 0;

}

.pillars{
width: 100%;
}

.marketing{
  margin-top: 0;
}

video{
  margin-left: 0;
}

.marketing-text{
  position: initial
}

.videoBlock{
  position: inherit;
}

.videoDiv{
  height: 100%;
}
}
